@use "sass:color";

header {
    background-color: var(--color-primary);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid var(--color-gray-light);
}

/* Style du logo */
.logo {
    cursor: pointer;
}

.logo-img {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

/* Style du menu de navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    font-size: 16px;
    color: var(--color-text);
    cursor: pointer;
    position: relative;
    transition: color 0.1s ease;
}

nav ul li:hover {
    color: var(--color-button-primary);
}

/* Boutons Login et Register */
.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    background-color: var(--color-button-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: color.adjust(#CC8866B3, $lightness: -10%);
}

.navbar button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.logout-button {
    background-color: red;
    color: white;
    font-weight: bold;
}

/* Style responsif */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px;
    }
    
    nav ul {
        margin: 15px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .buttons {
        margin-top: 15px;
    }
}
