body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: #333;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #CC8866;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #CC8866;
}

input {
  padding: 10px;
  margin: 10px;
}